@import "./../theme.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro";
  text-align: center;
}

.form-container {
  margin: 0 auto;
}

.flex-container {
  margin: 0 auto;
}

.select-title {
  font-size: 24px;
}

.farmaciaContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
