@import "../theme.scss";

.farmaciaCard .cardBody .footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.farmaciaCard {
  position: relative;
  max-width: 300px;
  margin: 10px;
  background-color: hsl(0, 0%, 99%);
  border: 1px solid gray;
  border-radius: 10px;

  .nombreComuna {
    text-align: left;
    background-color: var(--sidenav-menu);
    border-bottom: 1px solid gray;
    overflow: hidden;

    h3 {
      font-size: 20px;
      margin: 8px;
      font-weight: 400;
    }
  }

  .cardBody {
    background-color: #fff;
    position: relative;
    text-align: left;

    h4 {
      font-size: 20;
      font-weight: 600px;
    }

    h5 {
      font-size: 16px;
      font-weight: 400;
    }
  }

  .footer {
    border-top: 1px solid gray;
    background-color: var(--main-bg);
    overflow: hidden;

    p {
      align-self: center;
      font-size: 14px;
      text-align: center;
    }

    span {
      align-self: center;
      padding: 0 8px;
      font-size: 14px;
      color: hsl(0, 50, 0);
    }
  }
}
