@import 'theme.scss';

.App {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 20px;
  box-sizing: border-box;
  justify-content: space-between;
}

.farmaciasContainer {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #fff;
  flex-grow: 1;
  padding-bottom: 50px;
}

.estadoContainer {
  min-width: 300px;
  height: 250px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

.SidenavContainer {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--sidenav-menu);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.SidenavContainer.open {
  width: 50%;
}

.Sidenav {
  width: 0;
}
