$mainBackgroundColor: hsl(210, 32%, 93%);
$cardHeader: hsl(210, 38%, 97%);
$primaryTextColor: hsl(212, 56%, 16%);
$secondaryTextColor: hsl(212, 18%, 35%);
$borderStyle: 2px solid hsl(210, 23%, 95%);

$farmaciaHeaderBackground: hsl(50, 100%, 90%);
