:root {
  /* Colors */
  --menu-btn: hsla(191, 80%, 35%, 1);
  --main-bg: hsla(0, 0%, 100%, 1);
  --sidenav-menu: hsla(0, 0%, 94%, 1);
  --bg: url('/assets/bg-light-transparent.png');
  --bg-retina: url('/assets/bg-light-transparentt@2x.png');
  --font-color: hsla(191, 80%, 35%, 1);
  --search-box-bg: #fff;
  --farmacia-pill-bg: #fff;
  --farmacia-box-bg: #fff;
  --google-maps-box-bg: hsla(181, 56%, 66%);
  --twitter: url('/assets/twitter-light.png');
  --linkedin: url('/assets/linkedin-light.png');
  --github: url('/assets/github-light.png');
  --logout: url('/assets/signout-light.png');
  --gray: hsla(0, 0%, 94%);
  --cyan: hsla(181, 56%, 66%);
  --black: hsla(216, 45%, 11%, 1);
}
